/*
 * @project ChamHoc.vn
 * @author FGame Developer
 * @name chamhoc.css
*/
.hidden_h1 h1{
    display: none;
}
.textlabel{
    height:1px;
    left:-9999px;
    overflow:hidden;
    position:absolute;
    width:1px;
}
#ControlPayError p{
    margin:5px 0;
}
.showajaxload{
    width:350px;
    margin-bottom:20px;
}
.ajaxloading{
    background:url('../imgs/ajaxloading.gif') no-repeat;
    width:50px;
    height:11px;
    margin:5px auto;
}

.ajaxloadingmini{
    background:url('../imgs/ajaxloading_mini.gif') no-repeat;
    width:16px;
    height:16px;
    margin:5px auto;
    display:block;
}
.fleft{float:left;}
.fright{float:right;}

.margin0px{margin:0 !important;}
.marginLeft5px{margin-left:5px;}
.marginRight5px{margin-right:5px;}
.marginTop20px{margin-top:20px;}
.marginTop15px{margin-top:15px;}
.marginTop10px{margin-top:10px;}
.marginTop5px{margin-top:5px;}
.marginTop3px{margin-top:3px;}

.marginBottom10px{margin-bottom:10px;}

.paddingTop5px{padding-top:5px;}
.paddingTop15px{padding-top:15px;}
.paddingLeft10px{padding-left:10px;}
.paddingLeft5px{padding-left:5px;}
.padding0{padding:0;}

.fontsize13px{font-size:13px;}

.textCenter{text-align:center;}
.textLeft{text-align:left;}
.textRight{text-align:right;}
.textBold{font-weight: 700;}
.textDecoNone{
    text-decoration: none !important;
}

.font_a{
    font-size: 14px;
    font-family: tahoma,geneva,sans-serif;
    line-height: 1.6;
    padding: 10px 0;
}

.border-right-solid{
    width:1px;
    border-right:1px solid #C4B620;
}

.border_radius{
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    -khtml-border-radius:15px;
    border-radius:15px;
}

.cross_inline_block{
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;
    *display: inline;
}

/* message_ajax */
.message-container{
    border-top: 1px solid #CCC;
    margin-top: 10px;
}
.messagerow{
    position: relative;
    margin-top:5px;
}
.message-checkbox{
    width: 30px;
    top: 6px;
    position: relative;
    left: 7px;
}
.message-icon{
    width:40px;
    padding-left:10px;
}
.message-fullname{
    color: #746B1F;
    display: block;
    font-size: 11px;
    overflow: auto;
    width: 265px;
    margin: 4px 0 0;
}
.message-time{
    color: gray;
    font-size: 10px;
    height: 13px;
    margin: 3px 0 0;
    padding: 0;
}
/* message_form */
.textarea_message{
    border: 1px solid #CCC;
    padding: 0;
    width: 300px;
    height: 150px;
    resize:none;
}
.input_message{
    width: 232px;
    border: 1px solid #CCC;
}

/* jquery ui-complete*/
.ui-autocomplete-loading {
    background: white url('../imgs/ui-anim_basic_16x16.gif') right center no-repeat;
}
.ui-autocomplete {
    max-height: 200px;
    max-width: 227px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* bai thi */
#note
{
    background-color: #F7F4F2;
    font-size: 13px;
    padding-top: 12px;
    width: 600px;
    text-align: left;
}
#note div
{
    border:1px solid #DEA303;
    padding: 5px 10px;
}

/* Lich su thi */
.img-stylesheet1{
    width:24px;
    height:24px;
    position:absolute;
}

#onlineexam-container .cross_inline_block, #ThiNangCao_Container .cross_inline_block{
    width: 158px;
    vertical-align: top;
}

.myrank > td{
    background-color:#E6D08D !important;
    font-weight: 700;
}

/* Stats Exam */
#stats-exam{
    height:255px;
}
#stats-exam .right-menu-subject{
    width:118px;
    height:217px;
    background:transparent url('../assets/layout/StatsExam/sticky.png') no-repeat;
    position: relative;
    margin-left:5px;
    margin-top:10px;
}

#stats-exam .right-menu-subject .toan{
    width:118px;
    height:32px;
    background:transparent url('../assets/layout/StatsExam/toan.png') no-repeat 0 -32px;
    display:block;
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: -8px;
}
#stats-exam .right-menu-subject .toan.selected{background-position: 0 0;}
#stats-exam .right-menu-subject .toan:hover{background-position: 0 -2px;}

#stats-exam .right-menu-subject .van{
    width:118px;
    height:58px;
    background:transparent url('../assets/layout/StatsExam/van.png') no-repeat 0 -57px;
    display:block;
    text-decoration: none;
    position: absolute;
    top: 82px;
    left: -8px;
}
#stats-exam .right-menu-subject .van.selected{background-position: 0 0;}
#stats-exam .right-menu-subject .van:hover{background-position: 0 -1px;}

#stats-exam .right-menu-subject .anh{
    width:118px;
    height:55px;
    background:transparent url('../assets/layout/StatsExam/anh.png') no-repeat 0 -56px;
    display:block;
    text-decoration: none;
    position: absolute;
    top: 155px;
    left: -8px;
}
#stats-exam .right-menu-subject .anh.selected{background-position: 0 0;}
#stats-exam .right-menu-subject .anh:hover{background-position: 0 -1px;}

#stats-exam .center-menu-stats {
    background: transparent url('../assets/layout/StatsExam/background.png') no-repeat;
    width:363px;
    height:217px;
    margin:15px auto;
}
.begai{
    position: relative;
    right: 10px;
    bottom: 13px;
}
#stats-exam .header-bottom{
    border-bottom: 2px solid #F4D374;
    width:360px;
    margin:auto;
}
#stats-exam .header-content{
    padding-top:10px;
    padding-left:10px;
    margin-bottom: 8px;
}

#stats-exam #statsContent{
    text-align: center;
}

.stats-rows{
    width:100%;
    border-bottom: 1px dotted #B6A788;
    height:31px;
}
.stats-rows > div{
    padding-right:5px;
    padding-left:5px;
    text-align: center;
    font-size:11px;
    font-family: Tahoma,Geneva,sans-serif;
    overflow: hidden;
}

.stats-overflow{
    height: 20px;overflow: hidden;
}
.stats-rows .stats-index{width:25px;}
.stats-rows .stats-name{width:130px;}
.stats-rows .stats-province{width:100px;}
.stats-rows .stats-mark{width:50px;}

.stats-border-right{
    border-right: 1px dotted #B6A788;
    height:30px;
}

.stats-heading{
    background-color: #FAF8B0;
    line-height: 22px;
}

/*
    class thisukien
*/
.thisukien .t-item{
    width:480px;
    height:171px;
    margin: 0 auto;
    padding:10px 5px;
}

.thisukien .t-item .t-left{
    float:left;
    width:160px;
    height:171px;
}

.thisukien .t-item .t-right .t-bg{
    width:300px;
    height:158px;
    background: transparent url('../assets/layout/container-300x158.png') no-repeat;
    bottom: 0;
    position: absolute;
}
.thisukien .t-item .t-right{
    margin-left:10px;
    float:left;
    position: relative;
    width:300px;
    height:171px;
}

.thisukien .t-item .t-right .t-right-content .t-intro{
    color: #964E0B;
    font-size: 11px;
    padding-top:3px;
    padding-left:33px;
    height:32px;
    background:transparent url('../assets/icon/icon_intro.png') 3px 0 no-repeat;
}

.thisukien .t-item .t-right .t-right-content .t-date,.thisukien .t-item .t-right .t-right-content .t-subject{
    color: #964E0B;
    font-size: 11px;
    font-weight: 700;
    height: 24px;
    padding-top:5px;
    padding-left: 33px;
    width:100%;
}

.thisukien .t-item .t-right .t-right-content .t-date{
    background: url('../assets/icon/icon_date.png') no-repeat scroll 0 0 transparent;
}
.thisukien .t-item .t-right .t-right-content .t-subject{
    background: url('../assets/icon/icon_subject.png') no-repeat scroll 0 0 transparent;
}

.thisukien .t-item .t-right .t-right-content .t-title{
    margin-bottom: 10px;
}
.thisukien .t-item .t-right .t-right-content .t-title a{
    color: #C71E1E;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}
.thisukien .t-item .t-right .t-right-content .t-title a:hover{text-decoration: underline;}

.thisukien .t-item .t-right .t-right-content{
    padding:15px 10px;
}

.thisukien .t-item .t-left .t-title{
    background:url(../imgs/thio_ico2.png);
    width:99px;
    height:58px;
    color:#FFF;
    font: bold 12px/52px Arial, Helvetica, sans-serif;
    text-align:center;
    margin-left:25px;
}
.thisukien .t-item .t-left .t-content{
    background: url(../imgs/thio_ico1.png) no-repeat top;
    width:  134px;
    height: 114px;
    margin:0 auto;
    position: relative;
}
.thisukien .t-item .t-left .t-content button{
    bottom:2px;
    left:14px;
    position: absolute;
}
.thisukien .t-item .t-left .t-content button,button{
    width: 101px;
    height: 26px;
    margin:0;
    border: none;
    padding:0;
    color:#fff;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
}

.thisukien .t-item .t-left .t-content button.button_a{background: url('../assets/button/a.png') repeat-x right bottom;}
.thisukien .t-item .t-left .t-content button.button_b,button.button_b{width: 104px;height: 27px;background: url('../assets/button/b.png') repeat-x right bottom;}
.thisukien .t-item .t-left .t-content button.button_c,button.button_c{background: url('../assets/button/c.png') repeat-x right bottom;}
button.button_b:hover{background: url('../assets/button/b_hover.png') repeat-x right bottom;}

.thisukien .bg_b{
    background: url(../imgs/thio_bg.jpg) no-repeat scroll left top transparent;
    height: 171px;
    width: 600px;
}

/* Footer */
.footer-seo{
    background-color: #F9EC83;
    margin:0 auto;
    width:100%;
    max-width:1440px;
    padding: 10px 0 15px 0;
}
.footer-seo-container{
    margin:0 auto;
    font-size: 12px;
    color: #70560E;
}
.footer-item-seo{
    margin-bottom: 20px;
    padding: 0 15px;
    float:left;
}
.footer-item-seo, .footer-item-seo a{
    line-height:1.6;
}
.footer-item-seo label{
    font-weight: 700;
    font-size:13px;
}
.footer-item{
    padding-left:5px;
}

/* Co caro */
.caro .content_item {
    background: url(../imgs/caro.jpg) no-repeat scroll center 0 transparent;
}
.covua .content_item {
    background: url(../imgs/icon_covua_1.jpg) no-repeat scroll center 0 transparent;
}


/* box slider */
#box-slider-type-2 .content_image{
    height:160px;
}

#box-slider-type-2 .content_title{
    font-weight: 700;
    font-size: 16px;
    margin: 5px 0;
    color: #FF3F1A;
}
#box-slider-type-2 .blog_2{
    color: #81691C;
    padding-left: 10px;
    line-height:1.6;
    height:65px;
    overflow: hidden;
}
#box-slider-type-2 .linkother{
    width: 202px;
    margin-left: 10px;
    background: none repeat scroll 0 0 #F14A20;
    border: 1px solid #D30F07;
    color: #fff !important;
}
#box-slider-type-2 .content_image img{height:160px;}

/* new boxes */
.boxes_container{
    padding:15px 0;
    border:1px solid #E1A918;
    width: 504px;
    margin: 0 0 15px 4px;
}
.boxes_rows{
    width:480px;
    height:140px;
    margin:0 auto;
    overflow: hidden;
}
.boxes_item{
    float:left;
    width:140px;
    height:140px;
    margin:0 10px;
    text-align: center;
}
.boxes_image{
    border: 3px solid #CE9E49;
}
.boxes_image img{
    width: 134px;
    height: 82px;
}
.boxes_title{
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    margin-top:3px;
    color:#836B1F;
}
.boxes_title a{
    font-weight: 700;
    color:#880C0C;
}

#boxes_slider li{
    overflow:hidden;
    width:480px;
    list-style: none outside none;
}

/* show popup service */
.popup_service_container{
    padding:0 20px;
    max-width:600px;
    min-width:500px;
}
.package_mini_desc{
    max-width:600px;
    min-width:500px;
    margin:10px auto;
}

/* History view */
.history_icon_1,.history_icon_2{padding-left:25px;}
.history_icon_1{background: url('../assets/icon/icon_cuctay.png') no-repeat scroll 0 0 transparent;}
.history_icon_2{background: url('../assets/icon/icon_kinhlup.png') no-repeat scroll 0 0 transparent;}


#FormCoinError{
    padding-bottom:10px
}
#FormCoinError p{margin:0;}

/* Header */
.header_hocvachoi{
    width: 94px;
    height: 70px;
    top:-30px;
    left:-11px;
}

.header_trochoi{
    width: 86px;
    height: 82px;
    top: -40px;
}

.header_kinang{
    width: 93px;
    height: 79px;
    top: -40px;
}

.header_vachngan{
    width:3px;
    height:33px;
    background:transparent url('../assets/layout/header/vach_ngan.png');
}

#header_column_1,#header_column_2,#header_column_3{
    margin: 0 5px;
    position: relative;
    width:80px;
    height:40px;
}

.header_trangchu{
    opacity: 1;
    height: 90px;
    width: 94px;
    left: -2px;
    top: -50px;
}

.box_join{
    background: #FDF2D6 url('../assets/icon/icon_bongden.png') no-repeat 15px 11px;
    color: rgb(82, 68, 26);
}

/* new site map */
.siteMapTop{
    background: transparent url('../assets/layout/sitemap/sitemap_bg.png') repeat;
    padding:8px 0;
    z-index: 2;
    position: relative;
}
.siteMapTop_container{
    width:980px;
    margin:0 auto;
}
.siteMapTop_pencil{
    background: transparent url('../assets/layout/sitemap/pencil.png') no-repeat;
}
.siteMapTop_notebook{
    background: transparent url('../assets/layout/sitemap/notebook1_add.png') no-repeat;
}
.siteMapTop_msg{
    background: transparent url('../assets/layout/sitemap/mail.png') no-repeat;
}
.siteMapTop_phone{
    background: transparent url('../assets/layout/sitemap/phone.png') no-repeat;
}
.siteMapTop_logout{
    background: transparent url('../assets/layout/sitemap/logout.png') no-repeat right;
}
.siteMapTop_logout2{
    background: transparent url('../assets/layout/sitemap/logout.png') no-repeat;
}
.siteMapTop_tintuc{
    background: transparent url('../assets/layout/sitemap/vang.png') no-repeat;
}
.siteMapTop_tintuc2{
    background: transparent url('../assets/layout/sitemap/do.png') no-repeat;
}

.siteMapTop_tintuc a{color:#000;}
.siteMapTop_tintuc2 a{
    color: #E02828;
    font-weight: 700;
}

.siteMapTop_logout{
    padding-right:25px;
    padding-top: 1px;
    margin-left:20px;
}

.siteMapTop_msg,.siteMapTop_notebook,.siteMapTop_pencil,.siteMapTop_phone,
.siteMapTop_logout2,.siteMapTop_tintuc,.siteMapTop_tintuc2
{
    padding-left: 25px;
    padding-top: 1px;
    margin-left:20px;
}

.siteMapTop_color{
    color:#000;
}

.left_sitemap_dollar{
    background:transparent url('../assets/icon/icon_dollar.png') no-repeat left;
    padding-left:20px;
}

.left_sitemap_sun{
    background:transparent url('../assets/icon/icon_sun.png') no-repeat left;
    padding-left:20px;
}

#main_menu_top_h1 h1{
    font-size: 14px;
    margin:2px 0 10px 0;
    text-align: left;
}

.banner_parent{
    background: url('../assets/banner/banner_parent.jpg') no-repeat scroll 0 1px;
    height: 98px;
}

.banner_sinhnhat{
    background: url('../assets/banner/banner_sinhnhat.png') no-repeat scroll 0 1px;
    height: 86px;
}

/* binh luan inside game */
.binh_luan{
    width: 440px;
    margin: 0 auto;
    border: 1px solid #DEA303;
}

.binh_luan_container{
    width: 420px;
    margin-left: 5px;
}

.binh_luan_button{
    margin-top:5px;
    margin-bottom: 10px;
    padding-right: 10px;
    text-align: right;
}
.binh_luan_control{
    margin:10px;
    padding:0 5px;
    height:30px;
}
.binh_luan_control li{
    width:150px;
}
.binh_luan_input{
    margin-top:10px;
    text-align: center;
}
.binh_luan_input textarea{
    width: 410px;
    height:60px;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 1.4;
}
.binh_luan_content{
    line-height: 1.6;
}
.binh_luan_row{
    padding:10px;
    border-bottom: 1px dotted green;
}
.binh_luan_row.last-child{
    border:none;
}
.binh_luan_info{
    margin-top: 5px;
    color: #848484;
    font-size: 11px;
}
#BinhLuanContainer .binh_luan_info a.binh_luan_href{
    color: #848484;
}

.binh_luan_quydinh{
    padding: 5px;
    font-weight: 700;
    text-align: left;
    margin-left: 10px;
}

/* thi de nang cao */
#ThiNangCao_Container {
    margin: 10px 0;
}
#ThiNangCao_Container .content_title{
    margin-left: 25px;
}
#ThiNangCao_Container .ThiNangCao_row{
    float: left;
    width: 160px;
    height: 99px;
    margin: 15px 0;
}
#ThiNangCao_Container .row_active,#ThiNangCao_Container .row_disabled,
#ThiNangCao_Container .row_none_a,#ThiNangCao_Container .row_none_b{
    width: 175px;
    height: 99px;
}
#ThiNangCao_Container .row_active{background:transparent url('../assets/layout/denangcao/row_a.jpg') no-repeat;}
#ThiNangCao_Container .row_disabled{background:transparent url('../assets/layout/denangcao/row_b.jpg') no-repeat;}
#ThiNangCao_Container .row_none_a{background:transparent url('../assets/layout/denangcao/row_c.png') no-repeat;}
#ThiNangCao_Container .row_none_b{background:transparent url('../assets/layout/denangcao/row_d.png') no-repeat;}

#ThiNangCao_Container .button_vaothi{
    width: 100px;
    height: 26px;
    text-align: center;
    line-height: 27px;
    font-weight: 700;
    color: #fff;
    display: block;
    text-decoration: none;
    position: relative;
    top: 83px;
    cursor: pointer;
    margin-left: 25px;
}
#ThiNangCao_Container .button_enable{background: transparent url('../assets/layout/denangcao/button_a.png') no-repeat;}
#ThiNangCao_Container .button_disable{background: transparent url('../assets/layout/denangcao/button_b.png') no-repeat;}
#ThiNangCao_Container .button_dathi {background: transparent url('../imgs/ico_dathi2.png') no-repeat;width:69px;margin-left:40px;}





/* left menu */
#none_active{
    /* background:transparent url('../assets/layout/leftmenu/active.png') no-repeat; */
    margin-bottom: 10px;
    font-size: 15px;
    color: #B95B04;
    background: #FCE8B5;
    border: 3px solid #DEA404;
    border-radius: 10px;
}
#none_active .body_container{
    padding: 10px;
    text-align: left;
    font-size: 12px;
}

.banner_sb div.banner_aoam a {
    background: url('../assets/banner/banner_aoam.jpg') no-repeat 0 1px;
    width:199px;
    height: 152px;
}

.have_unread_message{
    background: #CE5131;
    padding: 2px 5px;
    color: #EBFF00;
    font-weight: 700;
}

/* Video clip css */
#clip_container{
    padding:0 20px;
}
#clip_container .tb_page{
    margin:0;
}
#clip_rows{
    margin-top: 10px;
}

#cuocsong .clip_thumbnail{border:2px solid #FBD46D;}
#phimhoathinh .clip_thumbnail{border:2px solid #6DC5FD;}

.clip_thumbnail img{
    width:160px;
    height:90px;
    cursor: pointer;
}
.clip_info{
    padding-top:3px;
    padding-left:3px;
}
.clip_element{
    float:left;
    width:164px;
    height:140px;
    margin:10px 30px;
}
.clip_name{
    overflow: hidden;
}
#phimhoathinh .clip_name,#cuocsong .clip_name{
    height: 18px;
}
#clip_rows .clip_name > a,#video_relation .clip_name > a{
    font-size: 12px;
    font-weight: 700;
}
#cuocsong #clip_rows .clip_name > a,#cuocsong #video_relation .clip_name > a{color:#8B8720;}
#phimhoathinh #clip_rows .clip_name > a,#phimhoathinh #video_relation .clip_name > a{color:#33659B;}

.clip_author,.clip_view{
    font-size: 11px;
    color: gray;
}

#video_screen{
    width:669px;
    height:416px;
}
#cuocsong #video_screen{background:transparent url('../assets/layout/clip/screen.png') no-repeat;}
#phimhoathinh #video_screen{background:transparent url('../assets/layout/hoathinh/screen.png') no-repeat;}

#video_screen_pos{
    padding-top: 11px;
    padding-left: 14px;
}
#video_description{
    width:279px;
    height:598px;
    margin-left:10px;
}
#cuocsong #video_description {background:transparent url('../assets/layout/clip/video_desc.png') no-repeat;}
#phimhoathinh #video_description {background:transparent url('../assets/layout/hoathinh/video_desc.png') no-repeat;}

.video_desc_body{
    padding:20px 0 0 35px;
    height: 240px;
}
#phimhoathinh .video_desc_body{
    height:120px;
}
.video_name{
    font-size: 16px;
    font-weight: 700;
    width: 220px;
}
#cuocsong .video_name{color: #FFF500;}
#phimhoathinh .video_name{color:#25EBDB}

.video_comment_body{
    height:320px;
}
.video_comment_pos{
    padding-top: 45px;
    padding-left: 10px;
}
#phimhoathinh .video_comment_pos{
    padding-top: 20px;
}
.video_info{
    font-size: 12px;
    color: #E0DBB0;
    margin-top:3px;
}
.video_desc{
    width: 200px;
    color: white;
    font-size: 13px;
}
#video_description .binh_luan{
    width:255px;
    margin:0;
    border:none;
}
#video_description .binh_luan_container{
    width:240px;
}
#video_description .binh_luan_input textarea{
    width:230px;
}
#video_relation{
    width:667px;
    height:172px;
    margin-top:10px;
}
#cuocsong #video_relation{background:transparent url('../assets/layout/clip/relation.png') no-repeat;}
#phimhoathinh #video_relation{background:transparent url('../assets/layout/hoathinh/relation.png') no-repeat;}

.video_relation_pos{
    padding-top:15px;
}
#video_relation ol#controls{
    margin-top: 10px;
    margin-left: 30px;
}
#video_relation ol#controls li{
    margin:0 10px;
}
.video_relation_rows_container{
    width:667px;
}
.video_relation_rows > img{
    width:160px;
    height:90px;
}
.video_relation_rows{
    float:left;
    width:164px;
    margin:0 23px 0 32px;
    list-style: none outside none;
}

#phimhoathinh ol#controls li.current a{
    background: none repeat scroll 0 0 #44AEC9;
}

#slideads{
    position: absolute;
    visibility: hidden;
    z-index:1;
}

#slideads1{
    float:left;
    margin-left: 20px;
    margin-top:230px;
}

#slideads2{
    float:right;
    margin-right: 20px;
    margin-top:230px;
}

a.banner_km_trai{
    display:block;
    background: transparent url('../assets/banner/banner_16042016.jpg') no-repeat;
    width:101px;
    height:352px;
}

a.banner_km_phai{
    display:block;
    background: transparent url('../assets/banner/banner_16042016.jpg') no-repeat;
    width:101px;
    height:352px;
}

@media (max-width: 1200px) {
    #show_banner_css{
        display:none;
    }
}

#contentMessage1{font-size: 13px;}
#contentMessage1 p {font-size: 13px;margin:0;}


#change-class{
	width: 525px;
	height: 306px;
	position: relative;
	font-size: 13px;
	font-family: tahoma,geneva,sans-serif;
	line-height: 1.6;
	text-align: center;
	margin:0 auto;
	padding: 5px;
	background: transparent url('../assets/change/khung.png') no-repeat;
}
#change-class .class-content{
	margin-top:60px;
}
#change-class .class-button{
	margin-top:15px;
	margin-left:22px;
}
#change-class .class-button a{
	margin: 0 5px;
	display:block;
}
#change-class .class-button a.no-change{
	margin-top:20px;
}
#change-class #change-cancel{
	position:absolute;
	right:0px;
	top:15px;
	display:block;
	width:30px;
	height:31px;
	background: transparent url('../assets/change/btm-exit.png') no-repeat;
}

/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  color:#fff !important;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-link {
  color: #428bca;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-small{
  padding: 3px 6px;
  font-size: 12px;
}
.btn-mini{
  padding: 1px 4px;
  font-size:11px;
}
